{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Concert Application{% endblock %}</title>
    </head>
    <body>
        <h3>Concert Management</h3>
        <div id="upperbar1">
            {% block upperbar1 %}
                <a href="/selectAllConcerts">List</a>
                <a href="/insertConcert">Insert</a>
                <a href="/selectConcert">Select</a>
                <a href="/updateConcert">Update</a>
                <a href="/removeConcert">Remove</a>
                <br>
            {% endblock %}
        </div>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>


