{# app/Resources/views/concert/content.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h3> Concert List </h3>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>author</th>
        <th>date</th>
        <th>city</th>
        <th>space</th>
    </tr>
    {% for concert in concerts %}
    		<tr>
        		<td>{{ concert.id }}</td>
        		<td>{{ concert.name }}</td>
        		<td>{{ concert.author }}</td>
        		<td>{{ concert.date|date('Y-m-d') }}</td>
        		<td>{{ concert.city }}</td>
        		<td>{{ concert.space }}</td>
        	</tr>
    {% endfor %}
</table>
{% endblock %}
